{{ 'bord-top-section.css' | asset_url | stylesheet_tag }}

<section class="section-bord-top">
  <img src="{{ section.settings.image_bottom | image_url }}" alt="">
  <div class="block-top">
    <h1 class="block-top-title">{{ section.settings.titleTop }}</h1>
    <div class="block-top-text">
    <p class="text">{{ section.settings.textTop }}</p>
    </div>
    <a class="block-top-link">HOW IT WORKS</a>
  </div>
  {{ template }}
</section>

{% schema %}
{
  "name": "title-top",
  "class": "title-sect-top",
  "settings": [
  {
    "type": "text",
    "id": "titleTop",
    "label": "title"
  },
  {
    "type": "text",
    "id": "textTop",
    "label": "text"
  },
  {
    "type": "image_picker",
    "id": "image_bottom",
    "label": "Image"
  }
  ]
}
{% endschema %}