{{ 'footer.css' | asset_url | stylesheet_tag }}

<footer class="footer">
  <img src="{{ 'footer-logo.png' | asset_img_url: 'master' }}" height="64px">
  <div class="footer__menu-column">
    <a class="menu-column__link" href="">About</a>
    <a class="menu-column__link" href="">FAQs</a>
    <a class="menu-column__link" href="">Gift card</a>
    <a class="menu-column__link" href="">Terms & conditions</a>
    <a class="menu-column__link" href="">Privacy Policy</a>
    <a class="menu-column__link" href="">Contact</a>
  </div>
  <div class="footer__contact-info">
    <p class="footer-info-title">Address</p>
    <a href="#">
      <p class="foooter-adres">49 Fortess Road,
        <br>Kentish Town,
        <br>London, NW5 1AD,
      </p>
    </a>
    <p class="footer-info-title footer-info-title--bottom">Contact</p>
    <a class="footer-mail" href="">jdljewellery@mail.com</a>
    <a class="footer-call" href="tel:+4407958689591">+44(0)7958 68 9591 </a>
  </div>
  <div class="footer-message">
    <p class="footer-info-title">Stay in touch</p>
    <p><input type="email" name="sign-up" placeholder="SIGN UP">
      <img class="footer-mail-img" src="{{ 'letter.png' | asset_img_url: 'master' }}" alt="">
    </p>
    <div class="footer-message__messangers">
      <a href="#"><img class="footer-messengers__image" src="{{ 'instagram-footer.png' | asset_img_url: 'master' }}" alt=""></a>
      <a href="#"><img class="footer-messengers__image" src="{{ 'facebook-footer.png' | asset_img_url: 'master' }}" alt=""></a>
      <a href="#"><img class="footer-messengers__image" src="{{ 'twitter-footer.png' | asset_img_url: 'master' }}" alt=""></a>
    </div>
    <p class="footer-copyright">© 2019 Website by Spaced</p>
  </div>
</footer> 