{{ 'header.css' | asset_url | stylesheet_tag }}


<header class="header">
  <div class="header-top">
    <div class="header-messengers">
      <a href="#"><img class="header-messengers__image" src="{{ 'header-instagram.png' | asset_img_url: 'master' }}" alt=""></a>
      <a href="#"><img class="header-messengers__image" src="{{ 'header-facebook.png' | asset_img_url: 'master' }}" alt=""></a>
      <a href="#"><img class="header-messengers__image" src="{{ 'header-twitter.png' | asset_img_url: 'master' }}" alt=""></a>
    </div>
    <div class="header-title">
      <img src="{{ 'header-logo.png' | asset_img_url: 'master' }}" alt="">
    </div>
    <div class="header-menu">
      <img class="header-menu__image" src="{{ 'search-header.png' | asset_img_url: 'master' }}" alt="">
      <img class="header-menu__image" src="{{ 'single-neutral-Header.png' | asset_img_url: 'master' }}" alt="">
      <img class="header-menu__image" src="{{ 'shopping-bag-check-HEADER.png' | asset_img_url: 'master' }}" alt="">
    </div>
  </div>

  <div class="header-bottom">
    <a class="header-bottom__link" href="#">{{ section.settings.navigation1 }}</a>
    <a class="header-bottom__link" href="#">{{ section.settings.navigation2 }}</a>
    <a class="header-bottom__link" href="#">{{ section.settings.navigation3 }}</a>
    <a class="header-bottom__link" href="#">{{ section.settings.navigation4 }}</a>
    <a class="header-bottom__link" href="#">{{ section.settings.navigation5 }}</a>
  </div>
</header>

{% schema %}
{
  "name": "navigations",
  "class": "navigation",
  "settings": [
    {
      "type": "text",
      "id": "navigation1",
      "label": "Navigation-1"
    },
    {
      "type": "text",
      "id": "navigation2",
      "label": "Navigation-2"
    },
    {
      "type": "text",
      "id": "navigation3",
      "label": "Navigation-3"
    },
    {
      "type": "text",
      "id": "navigation4",
      "label": "Navigation-4"
    },
    {
      "type": "text",
      "id": "navigation5",
      "label": "Navigation-5"
    }
  ]
}
{% endschema %}